In [21]:
import pandas as pd
df = pd.read_csv('~/Desktop/CSV Files/colors.csv')
df.head(3)

   id     name     rgb is_trans
0  -1  Unknown  0033B2       na
1   0       na  05131D        f
2   1     Blue      na        f

In [22]:
# in the above DataFrame we have a header and column names but we dont want the header or the first row
df = pd.read_csv('~/Desktop/CSV Files/colors.csv', skiprows = 1)
df.head(3)

   -1 Unknown  0033B2 na
0   0      na  05131D  f
1   1    Blue      na  f
2   2   Green  237841  f

In [23]:
df = pd.read_csv('~/Desktop/CSV Files/colors.csv', header = 1) # 'Skiprows' and 'header' do the same thing 
df.head(3)

   -1 Unknown  0033B2 na
0   0      na  05131D  f
1   1    Blue      na  f
2   2   Green  237841  f

In [24]:
# if you do not have headers(column names) then what to do?
df = pd.read_csv('~/Desktop/CSV Files/colors.csv', header = None, names = ['id','name', 'rgb', 'is_trans']) # Skiprows and header do the same thing 
df.head(3)

   id     name     rgb  is_trans
0  id     name     rgb  is_trans
1  -1  Unknown  0033B2        na
2   0       na  05131D         f

In [25]:
# if you want some limited rows from your DataFrame
df = pd.read_csv('~/Desktop/CSV Files/colors.csv', nrows = 4) # Skiprows and header do the same thing 
df

   id     name     rgb is_trans
0  -1  Unknown  0033B2       na
1   0       na  05131D        f
2   1     Blue      na        f
3   2    Green  237841        f

In [26]:
#if you have values which are missing from your DataFrame like in above 'na' values
df = pd.read_csv('~/Desktop/CSV Files/colors.csv',na_values = ['na'], nrows = 5) 
df
# the above code will convert 'na' values to 'NaN'

   id            name     rgb is_trans
0  -1         Unknown  0033B2      NaN
1   0             NaN  05131D        f
2   1            Blue     NaN        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [31]:
# if you have any specific changes with your NaN values 

df = pd.read_csv('~/Desktop/CSV Files/colors.csv',na_values = {'id' : [-1, 'na'],
                                                               'name': 'na',
                                                               'is_trans': 'na',
                                                               'rgb': 'na'} )
df.head()

    id            name     rgb is_trans
0  NaN         Unknown  0033B2      NaN
1  0.0             NaN  05131D        f
2  1.0            Blue     NaN        f
3  2.0           Green  237841        f
4  3.0  Dark Turquoise  008F9B        f

In [34]:
# if you want to convert DataFrame to a CSV File
df.to_csv('new.csv',index = False)
# check the file in your directory

In [35]:
df.to_csv('new.csv',header = False)

In [37]:
df.to_csv('new.csv', columns = ['id', 'name'], index = False)

In [38]:
#if you want to convert DataFrame to a excel File
df.to_excel("new.xlsx", sheet_name="stocks")
# i dont have microsoft office so can not execute the above code

In [ ]:
# two DataFrames which we will convert in one excel file with seperate sheets

df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [ ]:
# if you have two DataFrames and you want to convert them in a same excel file with two different sheet

with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")